/* CSS Custom Property */
:root {
    --cyan: #00bfca;
    --primary-yellow: #fcc400;
    --secondry-yellow: #dbad00;
    --white: #ffffff;
}

/* CSS Bolier Plate */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
}

/* Starting Again With Fresh Code */

/* Head Part */
.header {
    background-color: var(--secondry-yellow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}

/* Navigation Bar */
.nav a{
    text-decoration: none;
    color: var(--white);
    padding: 20px 16px;
}
.nav a:hover {
    color: var(--cyan);
}
form {
    display: flex;
}
form .search-bar {
    border: none;
    padding: 12px;
    color: var(--white);
    outline: transparent;
    box-shadow: 0px 25px 20px -15px rgba(0, 0, 0, 0.39), 25px 0 20px -10px rgba(0, 0, 0, 0.226);
}
form .search-field {
    background-color: var(--primary-yellow);
}
form .search-button {
    background-color: var(--cyan);
}
form .search-button:hover {
    background-color: #09aab3;
    cursor: pointer;
}

/* Main Body Style */
.main {
    height: 100%;
    background-color: var(--primary-yellow);
    padding: 0 8%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.text-container {
    left: 8%;
    color: var(--white);
    width: 50%;
}
div.text-container h1 {
    font-size: 6.2em;
    margin-bottom: 15px;
}
div.text-container p {
    font-size: 2em;
}
div.image-container {
    right: 8%;
    max-width: 50%;
}
div.image-container img {
    max-width: 100%;
}
[class*=button-] {
    margin-top: 25px;
    padding: 20px;
    border: none;
    color: var(--white);
    border-radius: 5px;
}
.button-1 {
    background-color: var(--cyan);
}
.button-2 {
    background-color: transparent;
    border: 1px solid white;
}